<div class="container">
  <mat-toolbar>
    <button mat-raised-button color="primary" (click)="addComDiv()">Add Commercial division</button>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Commercial divisions
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table  mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>


        <ng-container matColumnDef="salesStrategy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> salesStrategy </th>
          <td mat-cell *matCellDef="let element"> {{element.salesStrategy}} </td>
        </ng-container>

        <ng-container matColumnDef="customerRelations">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Relations </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="relationsMenu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <label>Drop down</label>
            <mat-menu #relationsMenu="matMenu">
              <mat-list>
                <mat-list-item *ngFor="let relation of element.customerRelations">
                  <button mat-menu-item>{{ relation }}</button>
                </mat-list-item>
              </mat-list>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Update </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="updateComDiv(element.id)" mat-icon-button color="primary" aria-label="Update">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Markets">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Markets </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="getMarkets(element.id)"  color="primary" aria-label="Markets">
              Markets</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="deleteComDiv(element.id)" mat-icon-button color="warn" aria-label="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[4, 5,30,50,100]"
                     showFirstLastButtons>
      </mat-paginator>

    </mat-card-content>
  </mat-card>

  <mat-card class="matCard" *ngIf="selectedcom_divId!==null">
    <mat-card-header>
      <mat-card-title>
        Markets
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-markets [comercialDivId]="selectedcom_divId" ></app-markets>
    </mat-card-content>
  </mat-card>
</div>
