<div class="container">
  <mat-card class="matCard">
    <mat-card-header>
      <mat-card-title>Update department</mat-card-title>
    </mat-card-header>
    <mat-card-content [formGroup]="departmentform">
        <mat-form-field appearance="outline">
          <mat-label>Department Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="update()">Update </button>
    </mat-card-content>
  </mat-card>
</div>
