<div class="container">
  <mat-card class="matCard">
    <mat-card-header>
      <mat-card-title>
        Update Commercial Division
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content [formGroup]="marketForm">

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Location</mat-label>
        <input class="form-control" matInput formControlName="location">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Name</mat-label>
        <input class="form-control" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Target Customers</mat-label>
        <input class="form-control" matInput formControlName="targetCustomers">
      </mat-form-field>

      <mat-card-actions>
        <button (click)="update()" mat-raised-button color="primary" type="submit">Update</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>
