<div class="container">
  <mat-card class="matCard">
    <mat-card-header>
      <mat-card-title>
        Add conmmercial division
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content [formGroup]="commercialForm" >

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Location</mat-label>
        <input class="form-control" matInput formControlName="location">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Name</mat-label>
        <input class="form-control" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="form-label">Sales Strategy</mat-label>
        <input class="form-control" matInput formControlName="salesStrategy">
      </mat-form-field>

            <mat-label class="form-label" >Customer Relations</mat-label>
      <mat-form-field appearance="outline">
        <mat-label class="form-label" >Relation 1</mat-label>
        <input matInput  class="form-control" formControlName="relation1">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="form-label" >Relation 2</mat-label>
        <input matInput  class="form-control" formControlName="relation2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="form-label" >Relation 3</mat-label>
        <input matInput  class="form-control" formControlName="relation3">
      </mat-form-field>
        <mat-card-actions>
          <button  (click)="onSubmit() "mat-raised-button color="primary" type="submit" >Submit</button>
        </mat-card-actions>

    </mat-card-content>
  </mat-card>





</div>
