<div class="container">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        Add Employee
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content [formGroup]="Employeeform">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="position" placeholder="Enter postion">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput formControlName="name" placeholder="Enter name">
      </mat-form-field>


      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addEmpolyee()">Submit</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
