<!DOCTYPE html>
<html lang="en"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="Template1">
<head>
    <meta charset="UTF-8">
    <title>ALL students</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="Component">
<div class="container mt-5">
    <div class="row">
        <div th:if="${notAuthorized}">
          <h2 class="text-center alert alert-danger" th:text="${notAuthorized}"></h2>

        </div>
        <div class="card mb-3">
        <div class="card-header">
            <h1 class="fs-5 text-center ">These are Students of our Society</h1>
        </div>
        <div class="card-body">
            <form class="input-group" method="get" action="/user/index">

                <label class="btn btn-secondary form-label">Keyword:</label>
                <input class="form-control" type="text" name="keyword" th:value="${key}"/>
                <button  class="btn btn-secondary "type="submit">Search</button>

            </form>
            <table class="table">
                <TH>FirstName</TH>
                <TH>Last Name</TH>
                <TH>Code</TH>
                <TH>Photo</TH>
                <TH>ProgramId</TH>
                <th></th>

                <tr th:each="student : ${studentsList}">
                    <td  th:text="${student.firstName}"></td>
                    <td  th:text="${student.lastName}"> </td>
                    <td  th:text="${student.code}"></td>
                    <td  th:text="${student.photo}"></td>
                    <td  th:text="${student.programId}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" ><a onclick="return confirm ('Are you sure to delete this payment ?  ')" class="btn btn-danger" th:href="@{/admin/deleteStudent(Id=${student.id}, key=${key}, number=${currentPage})}">Delete</a></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" ><a class="btn btn-success" th:href="@{/admin/UpdateForm(Id=${student.id}, key=${key}, number=${currentPage})}">Edit</a></td>
                </tr>
            </table>
        </div>
             <ul class=" mb-2 nav nav-pills">
                 <li th:each="item,status:${totalPages}" >
                     <a th:class="${status.index==currentPage ? 'ms-1 btn btn-info':'ms-1 btn btn-outline-info'}" th:text="${status.index}"
                        th:href="@{/user/index(PageNumber=${status.index},keyword=${key})}"></a>
                 </li>
            </ul>
    </div>

<div class="card">
    <div class="card-header">
        <H3 class="center-text">These are  all the related payments </H3>
    </div>
    <div class="card-body">
        <table class="table">
        <thead>
        <th>Amount</th><th>Date</th><th>File</th><th>Status</th><th>type</th><th>Student code</th>
        </thead>

        <tbody>
        <tr th:each="paiement:${paiements}">
            <td th:text="${paiement.getAmount()}"></td>
            <td th:text="${paiement.getDate()}"></td>
            <td th:text="${paiement.getFileLocation()}"></td>
            <td th:text="${paiement.getStatus()}"></td>
            <td th:text="${paiement.getType()}"></td>
            <td th:text="${paiement.getStudent().getCode()}"></td>
        </tr>
        </tbody>
        </table>

        <ul class="nav">
            <li th:each="element,status : ${totalPages}"}>
                <a th:class="${status.index == PageNumber? 'ms-1 btn btn-success': 'ms-1 btn btn-outline-success'}"  th:text="${status.index}"
                th:href="@{/user/index(PaymentsPageNumber = ${status.index})}"></a>
            </li>
        </ul>



    </div>
    </div>
</div>
</div>
</div>

</body>
</html>
