<div class="container">
  <mat-card class="matCard">
    <mat-card-header>
      <mat-card-title>
        Update Employee
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content [formGroup]="employeeForm">

      <mat-form-field appearance="outline">
        <mat-label class="form-label">name</mat-label>
        <input class="form-control" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="form-label">position</mat-label>
        <input class="form-control" matInput formControlName="position">
      </mat-form-field>

      <mat-card-actions>
        <button (click)="update()" mat-raised-button color="primary" type="submit">Update</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>
